.container {
  width: 100%;
  @include margin(inherit, auto, inherit, auto);
  @include padding(inherit, 20px, inherit, 20px);

  @include for-size(phone-only) {
    width: 320px;
  }

  @include for-size(tablet-landscape) {
    width: 768px;
    @include padding(inherit, 40px, inherit, 40px);
  }

  @include for-size(desktop) {
    width: 1344px;
    @include padding(inherit, 15px, inherit, 15px);
  }
}
