.hero-section {
  position: relative;
  background-image: url(../images/hero-bg/hero-bg-mobile@1x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -290px;
  max-width: 100%;
  width: 100%;

  @include for-size(tablet-landscape) {
    background-image: url(../images/hero-bg/hero-bg-tablet@1x.png);
    background-position-y: -170px;
  }
  @include for-size(desktop) {
    background-image: url(../images/hero-bg/hero-bg-desktop@1x.png);
    background-position-y: -200px;
  }

  .img {
    @include margin(inherit, auto, inherit, auto);
  }
  .button {
    display: block;

    &:focus,
    &:hover {
      fill: $accentColor;
      background-color: $basicWhiteColor;
    }
  }
  .hero-content:last-child {
    margin-top: 72px;
    @include for-size(tablet-landscape) {
      margin-top: 142px;
      width: 100%;
    }
  }
  .hero-content:not(:last-child) {
    @media screen and (max-width: 767px) {
      padding-bottom: 36px;

      .button {
        @include margin(inherit, auto, inherit, auto);
      }
    }
  }
}

.hero-container {
  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;

    .hero-content {
      width: 50%;
    }
  }
}

.hero-title {
  @include font(800, 20px, 1.35, 0.03em);
  color: $primaryTitleColor;
  margin-bottom: 30px;

  .hero-label {
    display: block;
  }
  @include for-size(tablet-landscape) {
    font-size: 26px;
  }
  @include for-size(desktop) {
    font-size: 58px;
  }
}

.hero-description {
  margin-bottom: 30px;
  @include font(700, 14px, 1.57, 0.08em);

  .grey-color {
    display: block;
    font-weight: 500;
    color: $primaryTextColor;
  }

  .orange-color {
    color: $accentColor;
  }
  @include for-size(desktop) {
    font-size: 20px;
  }
}

.hero-teacher {
  @include flex-direct;
}
