.section-problems {
  background-image: linear-gradient(
    to bottom,
    $darkBackgrounColor 75%,
    $basicWhiteColor 50%
  );

  @include for-size(desktop) {
    background-image: url(../images/icons/bcg/fire-background.svg),
      linear-gradient(to bottom, $darkBackgrounColor 75%, $basicWhiteColor 50%);
    background-position: 100% 25%;
    background-repeat: no-repeat;
  }
}

.problems-section-title {
  margin-bottom: 30px;
  @include font(800, 20px, 1.36, 0.08em);
  color: $basicWhiteColor;

  @include for-size(tablet-landscape) {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 25px;
    width: 568px;
  }
  @include for-size(desktop) {
    font-size: 46px;
    margin-bottom: 70px;
    width: 866px;
  }
}

.color-orange {
  color: $accentColor;
}

.problems-list {
  @include padding(50px, 30px, 20px, 30px);
  background-color: $basicWhiteColor;
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

  @include for-size(tablet-landscape) {
    @include padding(60px, 30px, 26px, 30px);
  }

  @include for-size(desktop) {
    @include padding(113px, 30px, 62px, 30px);
  }
}

.problems-item {
  margin-bottom: 40px;
  @include font(700, 14px, 1.71, 0.08em);

  @include for-size(tablet-landscape) {
    margin-bottom: 61px;
  }

  @include for-size(desktop) {
    @include margin(inherit, 40px, 75px, inherit);
  }

  color: $primaryTitleColor;
}

.problems-item:last-child {
  margin-bottom: 0;
}

.problems-item:nth-last-child(-n + 2) {
  @include for-size(tablet-landscape) {
    margin-bottom: 0;
  }
}

.problems-item:nth-last-child(-n + 3) {
  @include for-size(desktop) {
    margin-bottom: 0;
  }
}

.problems-item:nth-last-child(even) {
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    margin-right: 22px;
  }
}

.problems-item:nth-child(3n + 3) {
  @include for-size(desktop) {
    margin-right: 0;
  }
}

// CSS Counter
.problems-list {
  counter-reset: section;

  @include for-size(tablet-landscape) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.problems-item {
  position: relative;

  @include for-size(tablet-landscape) {
    width: calc((100% - 167px) / 2);
    font-size: 14px;
    line-height: 1.4;
  }
  @include for-size(desktop) {
    width: calc((100% - 306px) / 3);
    font-size: 20px;
    line-height: 1.2;
  }
}

.problems-item::before {
  counter-increment: section;
  content: '— 0' counters(section, '.') ' ';
  color: $accentColor;

  position: absolute;
  top: -30px;
}
